@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Poppins:wght@200;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;

}
body{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color:hsl(0, 0%, 98%);
    font-family: Poppins;
    /* max-height: 100vh; */
    /* margin: 0 auto; */
    
}
.head{
    margin: 2em;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 2em;
    color:hsl(229, 6%, 66%);
    font-weight: 200;
    text-align: center;
}
h3{
    font-size: 2em;
    color:hsl(234, 12%, 34%);
    text-align: center;
}
.head p{
    text-align: center;
    margin-top: 0.5em;
    /* width: 500px; */
    font-size: 1em;
    color: hsl(229, 6%, 66%);
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    grid-gap: 1.5em;
    margin: 0 80px;

}
.super{
    width: 300px;
    height: 170px;
    border-top: 3px solid hsl(180, 62%, 55%);
    background-color: #fff;
    position: relative;
    grid-row: 2/4;
    grid-column: 1;
    box-shadow: 2px 2px 10px gray;
    padding: 20px;
    border-radius: 5px;
}

.team{
    width: 300px;
    height: 200px;
    border-top: 3px solid hsl(0, 78%, 62%);
    background-color: #fff;
    position: relative;
    grid-column:2 ;
    grid-row: 1/3;
    box-shadow: 2px 2px 10px gray;
    padding: 20px;
    border-radius: 5px;
}

.karma{
    width: 300px;
    height: 170px;
    border-top: 3px solid hsl(34, 97%, 64%);
    background-color: #fff;
    position: relative;
    padding: 20px;
    grid-row: 3/5;
    grid-column:2;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
}

.calc{
    width: 300px;
    height: 200px;
    border-top: 3px solid hsl(212, 86%, 64%);
    background-color: #fff;
    position: relative;
    grid-row: 2/5;
    grid-column:3;
    box-shadow: 2px 2px 10px gray;
    padding: 20px;
    border-radius: 5px;
}

img{
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 3em;
}
h2{
    color: hsl(234, 12%, 34%);
    font-weight: 400px;
    font-size: 1em;
}

article p{
    color: hsl(229, 6%, 66%);
    margin-right: 2px;
    font-size: 0.8em;
}

@media screen and (max-width: 700px){
    
    body{
        max-width: 100vh;

    }
    h1{
        font-size: 1.2em;
        text-align: center;
    }
    h3{
        font-size: 1.2em;
        text-align: center;
    }
    .head p{
        text-align: center;
        margin-top: 0.5em;
        font-size: 0.7em;
        color: hsl(229, 6%, 66%);
    }

    main{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin: 20px 80px;
    }

    .super{
        width: 250px;
        height: 200px;
        border-top: 3px solid hsl(180, 62%, 55%);
        background-color: #fff;
        position: relative;
        grid-row: 2/4;
        grid-column: 1;
        box-shadow: 2px 2px 10px gray;
        padding: 20px;
        border-radius: 5px;
    }
    
    .team{
        width: 250px;
        height: 200px;
        border-top: 3px solid hsl(0, 78%, 62%);
        background-color: #fff;
        position: relative;
        grid-column:2 ;
        grid-row: 1/3;
        box-shadow: 2px 2px 10px gray;
        padding: 20px;
        border-radius: 5px;
    }
    
    .karma{
        width: 250px;
        height: 170px;
        border-top: 3px solid hsl(34, 97%, 64%);
        background-color: #fff;
        position: relative;
        padding: 20px;
        grid-row: 3/5;
        grid-column:2;
        box-shadow: 2px 2px 10px gray;
        border-radius: 5px;
    }
    
    .calc{
        width: 250px;
        height: 170px;
        border-top: 3px solid hsl(212, 86%, 64%);
        background-color: #fff;
        position: relative;
        grid-row: 2/5;
        grid-column:3;
        box-shadow: 2px 2px 10px gray;
        padding: 20px;
        border-radius: 5px;
}

